* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
